body{
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    
}
.heading{ 
      

    text-align: center;
    font-size:125px;
    font-weight: bold;
    background-color: rgb(0, 21, 255);
    color: aliceblue;
    margin: auto;
    width: 500px;
}
